{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}

            <div class="site-header-content">
                <h1 class="site-title">
                    <img class="site-logo" src="{{asset "img/logo.svg"}}" alt="{{@site.title}}" />
                </h1>

                <h2 class="site-description">
                    Die All-In-One Backoffice-Lösung für die Gastronomie.
                </h2>

                <h3>
                    <strong>Personal- und Dienstplanung</strong>, <strong>Zeiterfassung</strong> und <strong>Kassenbuch</strong> in einem
                    modernen, intutiven und leistungsfähigem Packet.
                </h3>

                <button class="call-to-action">Jetzt Demo Vereinbaren</button>

                <div class="carousel">
                    <img class="site-hero-image" src="{{asset "img/screens/roster.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/time-tracker.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/time.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/positions.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/ledgers-single.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/time-monthly.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/venues.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/salaries.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/revenues-daily.png"}}" />
                    <img class="site-hero-image" src="{{asset "img/screens/ledgers-all.png"}}" />
                </div>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        {{#get "posts" filter="primary_tag:features"}}
            {{#foreach posts}}
                <section class="feature">
                    <h2>{{title}}</h2>
                    <img src="{{img_url feature_image}}" alt="{{title}}"/>
                    {{ content }}
                </section>
            {{/foreach}}
        {{/get}}
    </div>
</main>

{{> site-header}}

{{#contentFor "styles"}}
    <style>
        .carousel {
            width: 100%;
            height: 500px;
            position: relative;
            perspective: 1000px;
            perspective-origin: center -100px;
            overflow: hidden;
        }

        .carousel::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }

        .carousel img {
            box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px -3px;
            border-radius: 10px;
            border: solid 5px #fff;
            margin-top: 50px;
            position: absolute;
            left: 10px;
            top: 10px;
            right: 10px;
            bottom: 10px;
            transition: all 1.5s;
            opacity: 0;
            will-change: transform, opacity;
            transform: translate3d(0, 0, -300px);
        }
    </style>
{{/contentFor}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.site-main');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

        /* CAROUSEL SETUP */

        const carousel = document.querySelector(".carousel");
        const carouselCount = carousel.children.length;
        let carouselIndex = 2;

        function updateCarousel() {
            carouselIndex = (carouselIndex - 1 + carouselCount) % carouselCount;

            for (let i = 0; i < carouselCount; i++) {
                const el = carousel.children[i];
                const pos = (carouselIndex + i) % carouselCount;
                Object.assign(el.style, {
                    transform: `translate3d(0, ${pos === 0 ? "100%" : "0"}, ${1-pos * 50}px)`,
                    zIndex: -pos,
                    opacity: (pos === 0 || pos >= 4) ? 0 : 1
                });
            }
        }

        updateCarousel();
        setInterval(updateCarousel, 5000);

    });
</script>
{{/contentFor}}
