<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            <a class="site-nav-logo" href="{{@site.url}}">
                <img src="{{asset "img/logo.svg"}}" alt="{{@site.title}}" />
            </a>

            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
        <button class="call-to-action">Demo Vereinbaren</button>
    </div>
</nav>
